@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 6px;
  border: 3px solid transparent;

}

html {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}